<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inicio</title>
    <link rel="stylesheet" href="/static/css/styles.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    

</head>
<body>
  
  <nav class="navbar" id="home">
    <div class="navbar-brand" style="margin-left: 15px;">
        <a class="fa fa-facebook-official w3-hover-opacity" style="color: #3b5998; text-decoration: none; font-size: 44px;" href="https://www.facebook.com/welcomecomidas1" target="_blank"></a>
        <a class="fa fa-instagram w3-hover-opacity" style="color: #e4405f; text-decoration: none;font-size: 44px;" href="https://www.instagram.com/welcomecomidas/" target="_blank"></a>
        <a class="fa fa-whatsapp w3-hover-opacity" style="color: #25d366; text-decoration: none;font-size: 44px;" href="https://wa.me/c/5493625163856" target="_blank"></a>
    </div>

    <ul class="nav-links">
        <li style="margin: 10px -8px;"><a href="#comidas">Galería</a></li>
        <li style="margin: 10px -8px;"><a href="#contactanos">Contáctanos</a></li>
        <li style="margin: 10px -8px;"><a href="{% url 'categorias' %}">Catálogo</a></li>
    </ul>

    <div class="dropdown">
        <button class="btn-login-dropdown" id="dropdownBtn" style="background-color: #f6c337; border: none; cursor: pointer;">
            {% if user.is_authenticated %}
            <span class="user-name">
              {{ user.get_full_name }}
            </span> <i class="fa fa-caret-down"></i>
            {% else %}
                <a href="{% url 'login' %}" class="btn-login" style="padding: 10px 20px;font-size: 18px;">Iniciar Sesión</a>
            {% endif %}
        </button>
        <div class="dropdown-content" id="myDropdown">
            {% if user.is_authenticated %}
                <a href="{% url 'add_product' %}" target="_blank">Añadir nuevo producto</a>
                <a href="{% url 'select_category_to_edit' %}" target="_blank">Editar producto</a>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% endif %}
        </div>
    </div>
</nav>


<script>
  // Función para mostrar u ocultar las opciones del menú desplegable
  function toggleDropdown() {
      var dropdown = document.querySelector('.dropdown');
      dropdown.classList.toggle('active');
  }

  // Agrega un evento clic al botón para llamar a la función toggleDropdown
  document.getElementById("dropdownBtn").addEventListener("click", toggleDropdown);
</script>


<!-- Sección de Bienvenida -->
<section class="welcome-section">
    <div class="container">
        <div class="welcome-content">
            <div class="welcome-image">
                <img src="/static/img/logowelcome23.jpg" alt="Imagen Bienvenida">
            </div>
            <div class="welcome-text">
                <h1>Welcome Comidas</h1>
                <p>¡Realiza tu pedido por WhatsApp!</p>
            </div>
        </div>
    </div>
</section>


<!-- GALERIA -->

<section id="comidas" class="comidas-grid">
  <div class="w3-content w3-padding" style="max-width:1564px" >
  
    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Galería</h3>
    </div>
    <div class="w3-row-padding">
     
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container media-container">
          <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
          <img src="/static/img/product_images/burguer3.jpg" class="media-content" alt="House">
        </div>
      </div>
      
     
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container media-container" >
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="/static/img/product_images/papasVarias.jpg" class="media-content" alt="House">
        </div>
      </div>
  
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container media-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <video autoplay muted loop class="responsive-media video-media">
            <source src="/static/img/product_videos/disfrutandoBurguer.mp4" class="media-content" type="video/mp4">
            Tu navegador no soporta el elemento de video.
          </video>
        </div>
      </div>
  
         
  
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container media-container">
          <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
          <img src="/static/img/product_images/burguer4.jpg" class="media-content" alt="House">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container media-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="/static/img/negocio1.jpg" class="media-content" alt="House">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container media-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="/static/img/product_images/miga1.jpg" class="media-content" alt="House">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container media-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="/static/img/product_images/mila1.jpg" class="media-content" alt="House">
        </div>
      </div>
      
      <!--
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="/static/img/product_images/papas1.jpg" alt="House" style="width:100%; height: auto;">
        </div>
      </div>
      -->
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container media-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="/static/img/product_images/burguer1.jpg" class="media-content" alt="House">
        </div>
      </div>
  
     <!-- Video Section -->
     <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container media-container">
        <div class="w3-display-topleft w3-black w3-padding">Video 1</div>
        <video autoplay muted loop class="responsive-media video-media">
          <source src="/static/img/product_videos/armadoBurguer.mp4" class="media-content" type="video/mp4">
          Tu navegador no soporta el elemento de video.
        </video>
      </div>
    </div> 
    
  
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container media-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="/static/img/product_images/cajaProducto.jpg" class="media-content" alt="House">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container media-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="/static/img/product_images/burguer2.jpg" class="media-content" alt="House">
        </div>
      </div>
      
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container media-container">
          <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
          <img src="/static/img/product_images/esteFunciona.jpg" class="media-content" alt="House" >
        </div>
      </div>
    
       
  
    </div>
  </div>
  </section>
  


<!-- Sección de Contáctanos -->

<!-- Container (Contact Section) -->
<section id="contactanos" class="contact-section">
    <!-- Project Section -->
  

  <div class="w3-content w3-container w3-padding-64">
    <div class="w3-container w3-padding-32">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contactanos</h3>
      </div>
  
    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m6">
            <!-- Aquí iría el mapa de Google Maps -->

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14161.707869754473!2d-58.9955925!3d-27.4559639!3m2!1i1024!2i768!
            4f13.1!3m3!1m2!1s0x94450dcd65eb0e23%3A0xd7248a002506cd94!2sWelcome%20Comidas!5e0!3m2!1ses-419!2sar!4v1711659216833!5m2!1ses-419!2sar"
             width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="w3-col m6 w3-panel" style="margin-top: 20px;">
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right" style="margin-bottom:20px ;"></i> Av. Alvear 209<br>
                <i class="fa fa-whatsapp fa-fw w3-hover-text-black w3-xlarge w3-margin-right" style="margin-bottom:20px ;"></i> 0362 516-3856<br>
                <a href="https://wa.me/c/5493625163856" target="_blank" style="text-decoration: none; color: #007bff; font-size: 16px;">
                    <i class="fa fa-cutlery fa-fw w3-hover-text-black w3-xlarge w3-margin-right" style="margin-bottom:20px;"></i>
                    Realizar pedido por WhatsApp</a><br>
                <!-- href="https://wa.me/c/5493625163856"       -->
                <i class="fa fa-clock-o fa-fw w3-hover-text-black w3-xlarge w3-margin-right" style="margin-bottom:20px ;"></i>Jueves a Martes, de 20:00hs a 00:00hs<br>
                <!-- Miercoles X negra
                <i class="fa fa-times fa-fw w3-hover-text-black w3-xlarge w3-margin-right" style="margin-bottom:20px ;"></i>Miércoles Cerrado <br>
                -->
                <i class="fa fa-times fa-fw w3-hover-text-black w3-xlarge w3-margin-right" style="color: red;"></i>Miércoles Cerrado<br>

            </div>
          
        </div>
    </div>
</div>
</section>
<!--  
style="display: flex; justify-content: space-between; align-items: center;padding:0 20px;"
-->


<footer class="w3-padding-64 footer">
  <div id="politicas">
    <p>&copy; 2024 WelcomeComidas. Todos los derechos reservados.</p>
  </div>
  <div class="w3-center" id="boton">
    <a href="#home" class="w3-button w3-light-grey">
      <i class="fa fa-arrow-up w3-margin-right"></i>Ascender
    </a>
  </div>
  <div class="w3-xlarge w3-section" id="redes">
    <a class="fa fa-facebook-official w3-hover-opacity" href="https://www.facebook.com/welcomecomidas1" target="_blank" aria-label="Facebook"></a>
    <a class="fa fa-instagram w3-hover-opacity" href="https://www.instagram.com/welcomecomidas" target="_blank" aria-label="Instagram"></a>
    <a class="fa fa-whatsapp w3-hover-opacity" href="https://wa.me/c/5493625163856" target="_blank" aria-label="WhatsApp"></a>
  </div>
</footer>











</body>
</html>

