<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Confirmar Eliminación</h1>
    <p class="text-center">¿Estás seguro de que deseas eliminar el producto "{{ product.product_name }}"?</p>
    <div class="text-center">
        <form action="{% url 'delete_product' product.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'select_product_to_edit' product.category.category_id %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
</body>
</html>
