<!DOCTYPE html>

{% extends "baseMenuCompra.html" %}

{% block head_content %}
<title>Editar Producto</title>
{% endblock %}

{% block css_personalizado %}
<style>
    body {
        background-color: #2e2e2e; /* Gris oscuro */
        padding: 20px;
    }
    .btn-primary {
        background-color: #f6c337;
        color: #242424;
        border: none;
    }
    .btn-primary:hover {
        background-color: #e5b636; /* Color al pasar el ratón */
    }
    .card {
        background-color: #242424;
        color: #f6c337;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
    }
    .card-body {
        padding: 20px;
    }
    .form-group label {
        font-weight: bold;
        color: #f6c337;
    }
    .form-control {
        background-color: #3a3a3a;
        border: 1px solid #f6c337;
        color: #f6c337;
    }
    .form-control::placeholder {
        color: #e5e5e5;
    }
    .form-control:focus {
        background-color: #3a3a3a;
        color: #f6c337;
    }
</style>
{% endblock %}

{% block nav_content %}
    
<!-- nav -->
<!-- Contenido del Navbar -->
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <!-- Opción "Volver a la Lista de Productos" -->
        <li class="nav-item">
            <a href="{% url 'select_product_to_edit' category_id %}" class="btn btn-link nav-link" style="font-size: 25px;">Volver a la Lista de Productos</a>
        </li>
        <!--
        <li class="nav-item">
            <a href="javascript:window.close();" class="btn btn-link nav-link" style="font-size: 25px;">Salir</a>
        </li>
        -->
    </ul>
</div>
<!-- fin nav-->
{% endblock %}


{% block content_body %}
<div class="container">
    <h1 class="text-center text-white display-4" style="margin-bottom: 30px;">Editar Producto</h1>
    <div class="card">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" class="form-horizontal" autocomplete="off">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="{{ form.category.id_for_label }}" class="col-sm-2 col-form-label">{{ form.category.label }}</label>
                    <div class="col-sm-10">
                        {{ form.category }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.product_name.id_for_label }}" class="col-sm-2 col-form-label">{{ form.product_name.label }}</label>
                    <div class="col-sm-10">
                        {{ form.product_name }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">{{ form.description.label }}</label>
                    <div class="col-sm-10">
                        {{ form.description }}
                    </div>
                </div>
<!--
                <div class="form-group row">
                    <label for="{{ form.photo.id_for_label }}" class="col-sm-2 col-form-label">{{ form.photo.label }}</label>
                    <div class="col-sm-10">
                        {{ form.photo }}
                    </div>
                </div>
    -->            
    <div class="form-group row">
        <label for="{{ form.photo.id_for_label }}" class="col-sm-2 col-form-label">{{ form.photo.label }}</label>
        <div class="col-sm-10">
            {{ form.photo }}
        </div>
    </div>

                <div class="form-group row">
                    <label for="{{ form.price.id_for_label }}" class="col-sm-2 col-form-label">{{ form.price.label }}</label>
                    <div class="col-sm-10">
                        {{ form.price }}
                    </div>
                </div>
                <div class="form-group row text-center">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Producto actualizado correctamente.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmDeleteButton">Aceptar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_personalizados %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const confirmDeleteButton = document.getElementById('confirmDeleteButton');
        const oldPhotoPath = "{{ request.session.old_photo_path|default:'' }}";

        if (oldPhotoPath) {
            $('#successModal').modal('show');

            confirmDeleteButton.addEventListener('click', function() {
                fetch("{% url 'delete_old_photo' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ old_photo_path: oldPhotoPath })
                }).then(response => {
                    if (response.ok) {
                        console.log('Imagen antigua eliminada.');
                    } else {
                        console.error('Error al eliminar la imagen antigua.');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                }).finally(() => {
                    // Clear the session variable
                    fetch("{% url 'clear_old_photo_session' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    }).then(response => response.json()).then(data => {
                        if (data.status === 'success') {
                            console.log('Old photo session cleared successfully');
                        } else {
                            console.error('Error clearing old photo session:', data.message);
                        }
                    });

                    // Redireccionar después de la confirmación
                    window.location.href = "{% url 'select_product_to_edit' product.category.category_id %}";
                });
            });
        }
    });
</script>
{% endblock %}