/* Reset de estilos */
/* Restablecer márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Establecer altura mínima para ocupar toda la altura de la ventana */
  display: flex;
  flex-direction: column; /* Alinear contenido en columna */
}

/* Contenedor de la barra de navegación */
.navbar {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  background-color: #f6c337; /* Color de fondo */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Estilos de enlaces en el navbar */
.navbar a {
  padding: 10px 20px;
  border-radius: 20px; /* Redondea las esquinas del contenedor */
  text-decoration: none;
  color: #242424;
  font-weight: bold;
  font-size: 22px;
}

/* Cambio de color al pasar el mouse por encima */
.navbar a:hover {
  background-color: #ddd; /* Cambia al color deseado */
  color: black; /* Cambia el color del texto */
}

/* Estilos para la marca del navbar */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  gap: 10px; /* Espaciado entre los íconos de redes sociales */
}

/* Estilos para los enlaces de navegación */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espaciado entre los elementos del menú */
}

/* Botón de inicio de sesión */
.btn-login {
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #444141;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-login:hover {
  background-color: #555;
}

.btn-login-cerrar {
  padding: 10px 20px;
  background-color: #dc3545; /* Cambia el color de fondo a rojo */
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.btn-login-dropdown {
  background-color: #f6c337;
  border: none;
  cursor: pointer;
  padding: 8px 16px; /* Modificar el padding para ajustar el tamaño del botón */
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Dropdown menu */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* Alinear a la derecha */
  background-color: #fff; /* Fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  min-width: 200px; /* Ancho mínimo */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  z-index: 1000;
  margin-top: 5px;
  overflow: hidden; /* Ocultar desbordamiento */
}

.dropdown-content a {
  color: #333; /* Color del texto */
  padding: 12px 16px; /* Espaciado interno */
  text-decoration: none;
  display: block;
  font-size: 16px; /* Tamaño de letra */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

.dropdown-content a:hover {
  background-color: #e6e6e6;; /* Fondo al pasar el mouse */
  color: #000; /* Color del texto al pasar el mouse */
}

/* Mostrar el dropdown cuando esté activo */
.dropdown.active .dropdown-content {
  display: block;
}

/* Estilos para el botón del dropdown */
.dropdown:hover .btn-login-dropdown {
  background-color: #ddd;
}

.btn-login-dropdown {
  background-color: #f6c337;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}



/* Welcome Section */
.welcome-section {
  background-color: #242424;
  color: #ffffff;
  padding: 50px 0;
  flex: 1; /* Ocupa todo el espacio disponible */
  display: flex;
  justify-content: center; /* Centrar contenido horizontalmente */
  align-items: center; /* Centrar contenido verticalmente */
  text-align: center; /* Centrar texto */
}

.welcome-content {
  max-width: 800px; /* Establecer un ancho máximo para el contenido */
  margin: 0 auto; /* Centrar contenido horizontalmente */
}

.welcome-image img {
  max-width: 100%;
}

/* Contact Section */
.contact-section {
  padding: 50px 0;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  flex: 1;
}

.contact-map {
  flex: 1;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-info a {
  color: #f6c337;
}


.footer {
  background-color:#333; 
}
.footer #redes a{
  padding: 0 10px;
}



